

.gallery {

	display: flex;
	flex-wrap: wrap;
justify-content: space-evenly;
gap: 20px;
	padding: 1rem;
}


.gallery-item {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}


