.get-button-two:hover{
    background-color: rgb(180, 36, 36) !important; 
    border-color:rgb(194, 42, 47) !important ;
  transition: 1s !important;

  color: white !important;
  }
  .get-button-two{
    font-weight: 600 !important;
    font-size: larger;
    border: 2px solid  !important;
  }