.get-button-two:hover{
    background-color: rgb(195, 50, 50) !important; 
   
  transition: 1s !important;
  font-weight: 400px !important;
  color: white !important;

  }

  .get-button-two{
    font-weight: 600 !important;
    font-size: larger;
    font-weight: 400px !important;
    border: 2px solid  !important;
    
  }
  .get-button-two:focus{
    outline: none;
  }
  
