 .footer-bg{
    background-color: black;
    position: relative;
    padding: 100px;

    /* margin-bottom: 20px; */
 
}
.footer-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li{
  list-style-type: none;
  margin: 5px;
}
a{
    text-decoration: none !important;
    color: white ;
}
a:hover{
    color:rgb(180, 180, 95) ;
    transition: 1s;
}
.last-div-copywrite{
    background-color: rgb(23, 22, 22);
}
.icon-hov:hover{
    color:rgb(160, 160, 51) ;
    transition: 1s;
}
@media screen and (max-width:1024px) {
    .footer-bg{
        padding: 0px;
        font-size: 13px;
    }


}
@media screen and (max-width:768px) {
  
.footer-last-divs{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
}

}
@media screen and (max-width:426px){
    .contact-karo{
        margin-top: 50px;
    }
    .last-div-copywrite{
        font-size: 13px;
    }
    .footer-flex{
        display: grid;
      
       grid-template-columns: 2fr;
    }
    .footer-last-divs{
        display: grid;
        gap: 0px;
        grid-template-columns: 2fr;
    }
}

@media screen and (max-width:320px) {
    .footer-last-divs{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        gap: 0px;
    }
   .foot{
    text-align: center;
   }
}



