 .footer-bg{
    background-color: black;
    position: relative;
    padding: 100px;

    /* margin-bottom: 20px; */
 
}
.footer-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-convey{
  background-color: black;
}
.footer-last-divs{
 
    color: white;
}
footer li{
    margin: 5px;
}
li{
  list-style-type: none;

}
a{
    text-decoration: none !important;
    color: white ;
}
a:hover{
    color:rgb(180, 180, 95) ;
    transition: 1s;
}
.last-div-copywrite{
    background-color: rgb(23, 22, 22);
}
.icon-hov:hover{
    color:rgb(160, 160, 51) ;
    transition: 1s;
}
@media screen and (max-width:1024px) {
    .footer-bg{
        padding: 0px;
        font-size: 13px;
    }
    .footer-last-divs{
      display: flex;
      justify-content: space-around;
      width: 100%;
      gap: 20px;
      margin-top: 20px;
  }

}
@media screen  and (min-width:1025px) {
  .footer-last-divs{
    margin: 0px !important;
  }
}
@media screen and (max-width:768px) {
  
.footer-last-divs{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
}

}
@media screen and (max-width:426px){
  
    .last-div-copywrite{
        font-size: 13px;
    }
    .footer-flex{
        display: grid;
      
       grid-template-columns: 2fr;
    }
    .footer-last-divs{
        display: grid;
        gap: 0px;
        grid-template-columns: 2fr;
    }
}

@media screen and (max-width:320px) {
    .footer-last-divs{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        gap: 0px;
    }
   .foot{
    text-align: center;
   }
}


.icon-hov {

    transition: all 0.3s ease;
  }
  
  .icon-hov:hover {
    transform: rotate(360deg);
  }


  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .icon-hov:hover .fa-phone-square-alt {
    animation: rotate 1s linear;
  }
  
  .icon-hov:hover .fa-instagram-square {
    animation: rotate 1s linear;
  }
  
  .icon-hov:hover .md-outline-whatsapp {
    animation: rotate 1s linear;
  }
  
  .icon-hov:hover .md-email {
    animation: rotate 1s linear;
  }  

 
  


  .footer-list {
    transition: transform 1s ease-in-out;
  }
  
  .footer-list:hover {
    transform: translateX(8px);
    cursor: pointer;
    color:  rgb(232, 90, 90);
  }