 .footer-bg{
    background-color: black;
    position: relative;
    padding: 100px;

    /* margin-bottom: 20px; */
 
}
li{
  list-style-type: none;
  margin: 5px;
}
a{
    text-decoration: none !important;
    color: white ;
}
a:hover{
    color:rgb(180, 180, 95) ;
    transition: 1s;
}
.last-div-copywrite{
    background-color: rgb(23, 22, 22);
}
.icon-hov:hover{
    color:rgb(160, 160, 51) ;
    transition: 1s;
}
@media screen and (max-width:1024px) {
    .footer-bg{
        padding: 0px;
        font-size: 13px;
    }
}