/* General styles for the card container */
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100%;
border: 1s solid white !important;

 
}


.icon-circle {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: colorChangetext 3s infinite;
  font-size: 24px;
  margin-bottom: 10px;
}




@keyframes colorChangetext {
  0% {
    color: rgb(183, 56, 151);
  }
  33% {
    color:rgb(104, 182, 182);
  }
  66% {
    color:rgb(180, 180, 95);
  }
  100% {
      color: rgb(183, 56, 151);
  }
}
.card-card{
    width: 23.3%;
    text-align: center;
   cursor: pointer;
}
.card-card:hover{
 background-color: black;

 color: white;
   box-shadow: -1px -3px 7px 1px rgb(188, 187, 187) ;
   transition: 0.7s;
}
.card-card:hover .card-text{
  color:rgb(180, 180, 95);
}
/* Text styles */
.card-text {
  font-size: 18px;
  font-weight:700;
}
.content-one{
    font-weight: 400;
}
@media screen and (max-width:465px) {
  .card-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column !important;
  gap: 50px;
  
   
  }
  .card-card{
    width: 80.3%;
    text-align: center;
   cursor: pointer;
}
}