.homepage-container {
  background: black;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  
}

.content-container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  /* padding-left: 5rem;
  padding-right: 5rem; */
}

.text-container {
  color: white;
  font-family: 'Allwin Font', sans-serif;
}

.company-name {
  margin-top: 1rem;
  text-align: end;
}


.get-button{
  border: 2px solid;
}
.get-button:hover{
  background-color: rgb(180, 180, 95) !important; 
  border-color:rgb(180, 180, 95) !important ;
transition: 1s !important;
border: 2px solid;
}

.first-image-girl{
  width: 570px;
  height: 800px;

  /* border-radius: 53% 47% 50% 75% / 90% 87% 97% 32%; */
}