.homepage-container {
  background: black;
  position: relative;
  overflow: hidden;
  /* background-repeat: no-repeat;
  background-image: url(/public/Assests/bg.jpg);
  background-position: center;
  background-size: 900px; */
}

.homepage-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); 
  z-index: 1;
}
.allwins{
  width: 370px;
}
.content-container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60vh;

  position: relative;
  z-index: 1;
}

.text-container {
  color: white;

}

.company-name {
  margin-top: 1rem;
  text-align: end;
}

.get-button {
  border: 2px solid;
  transition: background-color 1s, border-color 1s; 
}
.get-button:hover {
  background: linear-gradient(to top right, rgb(104, 182, 182), rgb(232, 71, 71), rgb(180, 180, 95), rgb(255, 254, 254)) !important;
  border-color: rgb(180, 180, 95) !important;
  transition: 1s !important;
}
.ideas-two{
  display: none;
}



@media screen and (max-width:426px) {
  .ideas-two{
    display: block;
    font-size: 20px !important;
  }
  .ideas{
    display: none;
  }
  .allwins{
    width: 150px;
  }
}