/* Common link styling */
.header-list {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

/* Hover effect */
.header-list:hover::after, .header-list:active::after {
  width: 100%;
}

/* Progressive underline effect */
.header-list::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgb(180, 180, 95); /* Color for the underline */
  transition: width 0.5s ease-in-out;
}

/* Optional: Keep existing hover color transition */
.header-list:hover {
  transition: color 1s ease-in-out;
  color: rgb(180, 180, 95) !important;
}

/* Navbar background */
.navbar-bg {
  z-index: 100 !important;
  background-color: transparent;
  height: 87px;
  transition: background-color 0.5s ease, height 0.5s ease;
}

.navbar-bg.scrolled {
  background-color: black;
  height: 70px;
}

/* Wrapper */
.header-wrapper {
  background-color: black;
}





