.logo-container {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height as needed */
  }
  
  .gradient-text {
    font-family: "Niconne", cursive !important;
  font-weight: 400;
  font-style: normal;
    background: linear-gradient(to right, rgb(191, 47, 47), rgb(187, 75, 75), rgb(198, 198, 69), rgb(255, 254, 254));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
    font-weight: bold;
  }
  
  .green {
    color: rgb(196, 196, 53);
  }
  
  .pink {
    color: rgb(102, 15, 15);
  }
  