.carousel-wrapper {
    text-align: center;
  }
  
  .carousel-wrapper .d-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .carousel-wrapper img {
    
    object-fit: cover;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .Image1{
    width: 750px !important;
    height:100px !important;
    
  }
  .Image2{
    width: 360px !important;
    height:100px !important;
  }
  .Image3{
    width:100px !important;
    height:100px !important;
  }
  .Image4{
    width:100px !important;
    height:100px !important;
  }
.Image5{
    width:100px !important;
    height:100px !important;
}
.Image6{
    width:100px !important;
    height:100px !important;
}
.Image7{
    width: 260px !important;
    height: 100px !important;
}
.Image8{
    width:130px !important;
    height:100px !important;
}
.Image9{
    width: 260px !important;
    height: 100px !important;
}
.Image10{
    width: 560px !important;
    height:100px !important;
}