.map {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border: none;
}

.listed {
  transition: transform 1s ease-in-out;
}

.listed:hover {
  transform: translateX(10px);
  cursor: pointer;
}

.gradient-text {
  font-family: "Niconne", cursive !important;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(
    to right,
    rgb(191, 47, 47),
    rgb(187, 75, 75),
    rgb(198, 198, 69),
    rgb(234, 246, 108)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: bold;
}

.green {
  color: rgb(196, 196, 53);
}

.pink {
  color: rgb(102, 15, 15);
}

.iframe-map {
  width: 600px;
  height: 450px;
}
.get-contact:hover {
  background-color: rgb(180, 180, 95) !important;
  border-color: rgb(180, 180, 95) !important;
  transition: 1s !important;
  border: 2px solid;
}

.get-contact {
  font-size: 50px !important;
  color: black;
  border-radius: 50% !important;
  margin: 10px;
}

.text-content2 h5 {
  color: #e74c3c;
  margin-bottom: 10px;
  text-decoration: underline;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1px;
  /* width: 300px; */
  border: 1px solid transparent;
  border-radius: 5px;
  animation: bordercolor 3s infinite;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes bordercolor {
  0% {
    background-image: linear-gradient(white, white),
      linear-gradient(to right, #000000, rgb(232, 71, 71));
    border: 1px solid transparent;
    border-radius: 5px;
    animation: bordercolor 3s infinite;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 1s;
  }
  33% {
    background-image: linear-gradient(white, white),
      linear-gradient(to right, #000000, rgb(104, 182, 182));
    border: 1px solid transparent;
    border-radius: 5px;
    animation: bordercolor 3s infinite;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 1s;
  }
  66% {
    background-image: linear-gradient(white, white),
      linear-gradient(to right, #000000, rgb(180, 180, 95));
    border: 1px solid transparent;
    border-radius: 5px;
    animation: bordercolor 3s infinite;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 1s;
  }
  100% {
    background-image: linear-gradient(white, white),
      linear-gradient(to right, #000000, rgb(232, 71, 71));
    border: 1px solid transparent;
    border-radius: 5px;
    animation: bordercolor 3s infinite;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 1s;
  }
}

.curse {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .iframe-map {
    width: 600px;
    height: 450px;
  }
}

@media screen and (max-width: 768px) {
  .iframe-map {
    width: 350px;
    height: 480px;
  }
}
@media screen and (max-width: 426px) {
  .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 376px) {
  .iframe-map {
    width: 280px;
    height: 480px;
  }
}
