.header-list {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-variation-settings: "wdth" 100;
}
.footer-list {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 !important;
  font-variation-settings: "wdth" 100;
}
.allwin-font {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-variation-settings: "wdth" 100;
}
.allwin-title{
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-variation-settings: "wdth" 100;
}

.cursive-font {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-variation-settings: "wdth" 100;
}
.cursive-font-two {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-variation-settings: "wdth" 100;
}
.content-font {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-variation-settings: "wdth" 100;
}
.allwin-name {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-variation-settings: "wdth" 100;
}

.print {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: "wdth" 100;
}

.allwin-print {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: "wdth" 100;
}

/* .ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
} */

/* mouse follow kaha write pannathu */


.ball {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid rgb(132, 10, 10);
  background-color: rgb(188, 18, 18);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /* mix-blend-mode: difference; */
  pointer-events: none;
}

.number-font {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.creeper {
  /* font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal; */
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
  /* font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal; */
 
}
