.header-list {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-variation-settings: "wdth" 100;
  cursor: pointer ;
}
.footer-list {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 !important;
  font-variation-settings: "wdth" 100;

}
.allwin-font {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-variation-settings: "wdth" 100;
}
.content-font{
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-variation-settings: "wdth" 100;
}
.allwin-name {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-variation-settings: "wdth" 100;
}

.print{
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: "wdth" 100;
}

.allwin-print{
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: "wdth" 100;
}